<main>
    <form id="login-form" method="POST" action="/access/login">
        Enter Username: <br>
        <input type="text" name="email_address" id="email_address"> <br>
        Enter Password: <br>
        <input type="text" name="password" id="password"> <br>
        <input type="submit" value="Login">
    </form>
    {{error}}
</main>