<main> 
    {{#if userInfo}}
        username: {{userInfo.username}}<br>
        Favorite Genres: {{userInfo.genres}}
        Favorite Artists: {{userInfo.artists}}
    {{/if}}
    <nav>
        <a href="/logout">Logout</a>
    </nav>
</main>   

<!--display username, name, choice artist and genre-->