<div id="error" class="error"></div>
<div class="registration">
    <form method="post" action="/access/registration" id="myForm">
        <div class="form-group">
            <label for="full_name">Full Name</label>
            <input id="full_name" name="full_name" required class="form-control" placeholder="Full name" type="text">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input id="email" name="email_address" required class="form-control" placeholder="Email address" type="email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input id="password" name="password" required class="form-control" placeholder="Create password" type="password">
        </div>
        <div class="form-group">
            <label for="genres">Genres</label>
            <p>Select up to 3 genres</p>
            <select id="genres" name="genres_ids" class="form-control multiple-checkboxes"  multiple>
                {{!-- <option value="" selected> Select genres</option> --}}
                {{#each genre_data}}
                <option value={{this._id}}>{{this.genreName}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <label for="artists">Artists</label>
            <p>Select up to 3 artists</p>
            <select id="artists" name="artist_ids" class="form-control multiple-checkboxes"  multiple>
                {{!-- <option value="" selected> Select artist</option> --}}
                {{#each artist_data}}
                <option value={{this._id}}>{{this.artistName}}</option>
                {{/each}}
            </select>
        </div>
        <div>
            <button class="btn btn-primary" type="submit" id="submit">Submit</button>
            <button class="btn btn-primary" type="reset" id="reset">Reset</button>
        </div>
    </form>
</div>