
body {
  background-color: #fddddb;
  background-image: url();
}

footer {
  margin-top:100px;
}

.btn-group{
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  text-align: left;
}
.btn-submit {
  color: #ffffff;
  background-color: #0cb8de;
  border: none;
  padding: 5px;
  border: 1px solid #0999b9;
  width: 100%;
  cursor: pointer;
} 

.card {
  padding:0.65em 0;
  opacity: 0.65;
}

.dropdown-menu {
  margin-left:-4.25em;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: bolder;
}

.navbar-brand {
  font-size:2em;
  font-weight:bold;
}

.neon-red-girl {
  margin-top:2em;
  text-align: center;
}

.neon-red-girl img {
  height:200px;
}

.row {
  margin-top: 2em;
}

.m-t-b-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.registration {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 1.25em;
  text-align: center;
  width: 35%;
}

.user_name {
  font-size: 14px;
  font-weight: bold;
}

.comments-list .media {
  border-bottom: 1px dotted #ccc;
}

.multiselect-selected-text{
  float: left;
}
.btn-group{
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    text-align: left;
}
.dropdown-toggle::after {
    float: right;
    margin-top: 10px;
}

.error{
  color :#FA8072;
  padding : 3px;
  text-align: center;
  font-size: 20px;
}

#p-hint, #u-hint{
  color : #696969	;
  background-color: lightgoldenrodyellow;
  font-size: 12px;
  margin-top: 2px;
  padding: 2px 0 2px 12px
}

.success-login{
  text-align : center;
}

.multiselect-container.dropdown-menu {
  max-height: 250px;
  overflow:scroll;
}

.artist-images{
  width : 35px;
  height : 35px;
}

.list-group.list-group-flush{
  max-height: 250px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}

.list-group-item {
  min-height: 85px;
  padding: 1.25rem 1.25rem;
}

h5.card-title.text-center{
  background: #1E90FF;
  color :#ffffff;
  padding: 10px;
}

.multiselect.btn {
  background-color: #ffffff;
}

.anchor {
  color: #007bff !important;
    text-decoration: none !important;
    background-color: transparent !important;
    cursor: pointer !important;
}