<section>
  <h1>Forums</h1>
  {{#each forums}}  
    <article class="forum">
      <h2><a href="/forums/{{_id}}">{{title}}</a></h2> <!--title and id fed in from routes with res.render-->
      <p>{{body}}</p>
    </article>
  {{/each}}
  <ul>
      <li><button onclick="sortForumsLikes()">Sort Forums by Likes</button></li>
      <li><button onclick="sortForumsArtists()">Sort Forums by Artists</button></li> <!--do we want them to enter an artist and check with our list? Give them a list to choose from?-->
      <li><button onclick="sortForumsGenres()">Sort Forums by Genres</button></li> <!--give them Genres to choose from? enter their own and check with our list?-->
      <li><button onclick="sortForumsMostComments()">Sort Forums by Most Comments</button></li>
      <li><button onclick="sortForumsMost Recent()">Sort Forums by Most Recent</button></li>
  </ul>
  
</section>